h1 {
    padding-top: 40px;
    padding-bottom: 30px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #a7e7fc;
}

.field {
    display: inline-block;
    padding:0px 10px;
}

.BuildContainer {
    border: solid;
    margin-bottom: 25px
}

#currentDiv {
    margin-bottom: -15px;
    margin-left: 100px;
    margin-right: 100px;
}

#previousDiv {

    margin-top: 50px;

}

